{% extends "base/base.html" %}
{% load static %}

	{% block title %}
<title>About Secular Eclectic Academic Homeschoolers - Secular Homeschooling</title>
	{% endblock title %}

   

	

		{% block content %}
	<main class="bg_gray">
			<div class="container margin_60_35 add_bottom_30">
				<div class="main_title">
					<h2>About Allaia</h2>
					<p>Euismod phasellus ac lectus fusce parturient cubilia a nisi blandit sem cras nec tempor adipiscing rcu ullamcorper ligula.</p>
				</div>
				<div class="row justify-content-center align-items-center">
					<div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
							<img src="{% static "img/seahome/about-half-1.webp" %}" alt="" class="img-fluid" width="450" height="268">
					</div>
					
					<div class="col-lg-5">
						<div class="box_about">
							<h2>Online Homeschool Resources &amp Community</h2>
							<p>SEA Homeschoolers has a large, active, and diverse online community of secular homeschooling families from around the world. We are constantly growing and evolving. We provide support and vetted secular homeschool resources, including secular homeschool curriculum, in various ways, both online and at in-person conferences. </p>
							<p>SEA Homeschoolers is passionate about providing innovative education through secular academic materials and celebrating the secular homeschool community by connecting with the people creating these resources and the families and educators who are handcrafting their student’s journey through learning. </p>
							
							<a class="btn_1" href="https://www.facebook.com/seahomeschoolers" role="button">Join Our Facebook Group!</a>
						</div>
					</div>
					
				</div>
				<!-- /row -->
				<div class="row justify-content-center align-items-center">
					
					<div class="col-lg-5">
						<div class="box_about">
							<h2>Our Story - Handcrafting Education</h2>
							<p>SEA was founded by Blair Lee. When her son was 5 years old, she wanted to create a handcrafted education that would support his unique strengths. She found many compelling arguments about the importance of customizing education, but had a hard time finding resources to help her make that happen! SEA was created to help homeschoolers find resources to create an innovative and academically rich curriculum.</p>
							<p>SEA came out of the need for a community that focused on innovative, secular, and academic homeschooling. The SEA community was really important to Lee when she was handcrafting her son’s education. Community allows you to benefit from brainstorming, mentoring, and insight into the how. The team at SEA continues to foster this community so that families around the world can benefit from it!</p>
							<a class="btn_1" href="https://www.facebook.com/seahomeschoolers" role="button">Join Our Facebook Group!</a>
						</div>
					</div>

					<div class="col-lg-5 pr-lg-5 text-center d-none d-lg-block">
							<img src="{% static "img/seahome/about-half-2.webp" %}" alt="" class="img-fluid" width="450" height="368">
					</div>
				</div>


				<div class="row justify-content-center align-items-center">
					<div class="col-lg-2 pl-lg-5 text-center d-none d-lg-block">
							<img src="{% static "img/seahome/about-services-1.webp" %}" alt="" class="img-fluid" width="450" height="268">
					</div>
					
					<div class="col-lg-8">
						<div class="box_about">
							<h2>Curriculum - SEA Books &amp More</h2>
							<p>Along with our online community of homeschoolers, we offer a wide range of SEA resources via SEA Books & More. Our online store sells exclusively secular homeschool curriculum and other educational materials as a way to support our vibrant homeschool community. Our goal is to build a wealth of resources that people know they can trust.  </p>
							
							
							<a class="btn_1" href="https://seculareclecticacademic.com/" role="button">Shop Secular Homeschool Resources</a>
						</div>
					</div>
					
				</div>


				<div class="row justify-content-center align-items-center">
					<div class="col-lg-2 pl-lg-5 text-center d-none d-lg-block">
							<img src="{% static "img/seahome/about-services-2.webp" %}" alt="" class="img-fluid" width="450" height="268">
					</div>
					
					<div class="col-lg-8">
						<div class="box_about">
							<h2>Conferences</h2>
							<p>SEA hosts online conferences series with presentations for secular homeschooling parents and educators, live Q&A with speakers and vendors, and interactive workshops for students. The goal of these conferences is to support and inspire homeschoolers from all walks of life!  </p>
							
							
							<a class="btn_1" href="https://seahomeschoolers.com/conference-2020/" role="button">Learn More About Our Conferences</a>
						</div>
					</div>
					
				</div>


				<div class="row justify-content-center align-items-center">
					<div class="col-lg-2 pl-lg-5 text-center d-none d-lg-block">
							<img src="{% static "img/seahome/about-services-3.webp" %}" alt="" class="img-fluid" width="450" height="268">
					</div>
					
					<div class="col-lg-8">
						<div class="box_about">
							<h2>Magazines</h2>
							<p>The SEA Homeschoolers Magazine is a publication of SEA Books & More. It features articles written for secular academic homeschoolers by secular academic homeschoolers. Each issue has advice, information, book recommendations, homeschool projects, recipes, travel notes, and more!  </p>
							
							
							<a class="btn_1" href="https://seahomeschoolers78566.activehosted.com/f/1" role="button">Get A Free Subscription</a>
						</div>
					</div>
					
				</div>


				<div class="row justify-content-center align-items-center">
					<div class="col-lg-2 pl-lg-5 text-center d-none d-lg-block">
							<img src="{% static "img/seahome/AdobeStock_417338395-296x300.webp" %}" alt="" class="img-fluid" width="450" height="268">
					</div>
					
					<div class="col-lg-8">
						<div class="box_about">
							<h2>Masterclasses for Parents &amp Educators</h2>
							<p>We provide personalized Masterclasses to help parents and educators turn their homeschool dreams into a reality. By utilizing onboarding questionnaires, each Masterclass is tailored to meet the needs of each attendee. We will work together to strategize and plan your optimal homeschooling journey.  </p>
							<p>We also offer a Homeschool 101 Masterclass for those beginning their secular homeschooling journey! </p>
							<a class="btn_1" href="https://seahomeschoolers.com/masterclass/" role="button">More About Masterclasses</a>
						</div>
					</div>
					
				</div>






				<!-- /row -->
				<div class="row justify-content-center align-items-center ">
					<div class="col-lg-5">
						<div class="box_about">
							<h2>+5000 products</h2>
							<p class="lead">Est falli invenire interpretaris id, magna libris sensibus mel id.</p>
							<p>Per eu nostrud feugiat. Et quo molestiae persecuti neglegentur. At zril definitionem mei, vel ei choro volumus. An tota nulla soluta has, ei nec essent audiam, te nisl dignissim vel. Ex velit audire perfecto pro, ei mei doming vivendo legendos. Cu sit magna zril, an odio delectus constituto vis. Vis ludus omnesque ne, est veri quaeque ad.</p>
						</div>

					</div>
					<div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
							<img src="{% static "img/about_3.svg" %}" alt="" class="img-fluid" width="350" height="316">
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		
			<div class="bg_white">
				<div class="container margin_60_35">
					<div class="main_title">
						<h2>Why Choose Allaia</h2>
						<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="box_feat">
								<i class="ti-medall-alt"></i>
								<h3>+ 1000 Customers</h3>
								<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="box_feat">
								<i class="ti-help-alt"></i>
								<h3>H24 Support</h3>
								<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris. </p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="box_feat">
								<i class="ti-gift"></i>
								<h3>Great Sale Offers</h3>
								<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="box_feat">
								<i class="ti-headphone-alt"></i>
								<h3>Help Direct Line</h3>
								<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris. </p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="box_feat">
								<i class="ti-wallet"></i>
								<h3>Secure Payments</h3>
								<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="box_feat">
								<i class="ti-comments"></i>
								<h3>Support via Chat</h3>
								<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris. </p>
							</div>
						</div>
					</div>
					<!--/row-->
				</div>
			</div>
			<!-- /bg_white -->
		
		<div class="container margin_60">
			<div class="main_title">
				<h2>Meet Allaia Staff</h2>
				<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
			</div>
			<div class="owl-carousel owl-theme carousel_centered">
				<div class="item">
					<a href="#0">
						<div class="title">
							<h4>Julia Holmes<em>CEO</em></h4>
						</div><img src="{% static "img/staff/1_carousel.jpg" %}" alt="">
					</a>
				</div>
				<div class="item">
					<a href="#0">
						<div class="title">
							<h4>Lucas Smith<em>Marketing</em></h4>
						</div><img src="{% static "img/staff/2_carousel.jpg" %}" alt="">
					</a>
				</div>
				<div class="item">
					<a href="#0">
						<div class="title">
							<h4>Paul Stephens<em>Business strategist</em></h4>
						</div><img src="{% static "img/staff/3_carousel.jpg" %}" alt="">
					</a>
				</div>
				<div class="item">
					<a href="#0">
						<div class="title">
							<h4>Pablo Himenez<em>Customer Service</em></h4>
						</div><img src="{% static "img/staff/4_carousel.jpg" %}" alt="">
					</a>
				</div>
				<div class="item">
					<a href="#0">
						<div class="title">
							<h4>Andrew Stuttgart<em>Admissions</em></h4>
						</div><img src="{% static "img/staff/5_carousel.jpg" %}" alt="">
					</a>
				</div>
			</div>
			<!-- /carousel -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->
	{% endblock content %}
	
	
	
    