{% extends "base/base.html" %}
{% load static %}

{% block title %}
    <title>Allaia | Bootstrap eCommerce Template - ThemeForest</title>
	{% endblock title %}

    

{% block content %}
		
	<main>
		<div id="carousel-home-2">
			<div class="owl-carousel owl-theme">
				<div class="owl-slide cover" style="background-image: url(static/img/slides/slide_home_1_vertical.jpg);">
					<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
						<div class="container">
							<div class="row justify-content-center justify-content-md-start">
								<div class="col-lg-12 static">
									<div class="slide-text text-center white">
										<h2 class="owl-slide-animated owl-slide-title">Runnig<br>Collection</h2>
										<p class="owl-slide-animated owl-slide-subtitle">
											Limited items available at this price
										</p>
										<div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="listing-grid-1-full.html" role="button">Shop Now</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/owl-slide-->
				<div class="owl-slide cover" style="background-image: url(img/slides/slide_home_2_vertical.jpg);">
					<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
						<div class="container">
							<div class="row justify-content-center justify-content-md-start">
								<div class="col-lg-12 static">
									<div class="slide-text text-center white">
										<h2 class="owl-slide-animated owl-slide-title">Easy Fit<br>Collection</h2>
										<p class="owl-slide-animated owl-slide-subtitle">
											Limited items available at this price
										</p>
										<div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="listing-grid-1-full.html" role="button">Shop Now</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/owl-slide-->
				<div class="owl-slide cover" style="background-image: url(img/slides/slide_home_3_vertical.jpg);">
					<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.5)">
						<div class="container">
							<div class="row justify-content-center justify-content-md-start">
								<div class="col-lg-12 static">
									<div class="slide-text text-center white">
										<h2 class="owl-slide-animated owl-slide-title">Casual<br>Collection</h2>
										<p class="owl-slide-animated owl-slide-subtitle">
											Limited items available at this price
										</p>
										<div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="listing-grid-1-full.html" role="button">Shop Now</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--/owl-slide-->
				<div class="owl-slide cover" style="background-image: url(img/slides/slide_home_4_vertical.jpg);">
					<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(255, 255, 255, 0.5)">
						<div class="container">
							<div class="row justify-content-center justify-content-md-start">
								<div class="col-lg-12 static">
									<div class="slide-text text-center black">
										<h2 class="owl-slide-animated owl-slide-title">Attack Air<br>Monarch</h2>
										<p class="owl-slide-animated owl-slide-subtitle">
											Lightweight cushioning and durable support with a Phylon midsole
										</p>
										<div class="owl-slide-animated owl-slide-cta"><a class="btn_1" href="listing-grid-1-full.html" role="button">Shop Now</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/owl-slide-->
				</div>
			</div>
			<div id="icon_drag_mobile"></div>
		</div>
		<!--/carousel-->
		<div class="container">
			<h2 style="text-align:center;margin-top:20px"> Connect with SEA Homeschoolers </h2>
		</div>

		<div class="feat">
			
			<div class="container">
				
				
				<!--<ul style="list-style: none; display: flex; gap: 10px; padding: 0;">-->
				<ul>
					<li>
						<a href="http://www.facebook.com/seahomeschoolers" target="_blank" 
						style="display: inline-block; padding: 10px 15px; background-color: #36b3b0; color: white; text-decoration: none; border-radius: 4px; font-weight: bold;">
						SEA Facebook Page
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/groups/seahomeschoolers" target="_blank" 
						style="display: inline-block; padding: 10px 15px; background-color: #c2185b; color: white; text-decoration: none; border-radius: 4px; font-weight: bold;">
						SEA Facebook Group
						</a>
					</li>
					<li>
						<a href="http://www.instagram.com/seahomeschoolers/" target="_blank" 
						style="display: inline-block; padding: 10px 15px; background-color: #ff5722; color: white; text-decoration: none; border-radius: 4px; font-weight: bold;">
						SEA Instagram
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/channel/UCBbCs31QyyXX5IOQmuO6h9w" target="_blank" 
						style="display: inline-block; padding: 10px 15px; background-color: #3f51b5; color: white; text-decoration: none; border-radius: 4px; font-weight: bold;">
						SEA YouTube Channel
						</a>
					</li>
					<li>
						<a href="https://www.tiktok.com/@seahomeschoolers" target="_blank" 
						style="display: inline-block; padding: 10px 15px; background-color: #d18f2a; color: white; text-decoration: none; border-radius: 4px; font-weight: bold;">
						SEA TikTok Channel
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!--/feat-->
		<div class="container">
			<p style="text-align:center;margin-top:20px;font-size: 18px">
			Whether you are new to homeschooling or you have been homeschooling for a while, 
			SEA homeschoolers can help you handcraft your student’s journey through learning. 
			At SEA Homeschoolers we are passionate about innovative learning that is alternative 
			and academically-rich. We have 100,000 families in our large, active, and diverse secular
			 homeschool community. SEA Homeschoolers has free online conferences and a quarterly magazine.	
			</p>
		</div>
		<div class="container margin_60_35">
			<div class="row small-gutters categories_grid">
				<div class="col-sm-12 col-md-6">
					<a href="listing-grid-1-full.html">
						<img src="{% static "img/img_cat_home_1_placeholder.png" %}" data-src="{% static "img/slides/slide_home_1.jpg" %}" alt="" class="img-fluid lazy">
						<div class="wrapper">
							<h2>Life Style</h2>
							<p>115 Products</p>
						</div>
					</a>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="row small-gutters mt-md-0 mt-sm-2">
						<div class="col-sm-6">
							<a href="listing-grid-1-full.html">
								<img src="{% static "img/img_cat_home_2_placeholder.png" %}" data-src="{% static "img/slides/slide_home_2.jpg" %}" alt="" class="img-fluid lazy">
								<div class="wrapper">
									<h2>Running</h2>
									<p>150 Products</p>
								</div>
							</a>
						</div>
						<div class="col-sm-6">
							<a href="listing-grid-1-full.html">
								<img src="{% static "img/img_cat_home_2_placeholder.png" %}" data-src="{% static "img/slides/slide_home_3.jpg" %}" alt="" class="img-fluid lazy">
								<div class="wrapper">
									<h2>Football</h2>
									<p>90 Products</p>
								</div>
							</a>
						</div>
						<div class="col-sm-12 mt-sm-2">
							<a href="listing-grid-1-full.html">
								<img src="img/img_cat_home_4_placeholder.png" data-src="{% static "img/slides/slide_home_2.jpg" %}" alt="" class="img-fluid lazy">
								<div class="wrapper">
									<h2>Training</h2>
									<p>120 Products</p>
								</div>
							</a>
						</div>
					</div>
				</div>

			</div>
			<!--/categories_grid-->
		</div>
		<!-- /container -->

		<div class="container margin_60_35">
			<div class="main_title">
				
				<p>SEA Homeschoolers Cornerstones</p>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<a class="box_news" href="blog.html">
						<figure>
							<img src="{% static "img/blog-thumb-placeholder.jpg" %}" data-src="{% static "img/blog-1.jpg" %}" alt="" width="400" height="266" class="lazy">
							<figcaption><strong>28</strong>Dec</figcaption>
						</figure>
						<ul>
							<li>by Mark Twain</li>
							<li>20.11.2017</li>
						</ul>
						<h4>Pri oportere scribentur eu</h4>
						<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
					</a>
				</div>
				<!-- /box_news -->
				<div class="col-lg-6">
					<a class="box_news" href="blog.html">
						<figure>
							<img src="{% static "img/blog-thumb-placeholder.jpg" %}" data-src="{% static "img/blog-2.jpg" %}" alt="" width="400" height="266" class="lazy">
							<figcaption><strong>28</strong>Dec</figcaption>
						</figure>
						<ul>
							<li>By Jhon Doe</li>
							<li>20.11.2017</li>
						</ul>
						<h4>Duo eius postea suscipit ad</h4>
						<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
					</a>
				</div>
				<!-- /box_news -->
				<div class="col-lg-6">
					<a class="box_news" href="blog.html">
						<figure>
							<img src="{% static "img/blog-thumb-placeholder.jpg" %}" data-src="{% static "img/blog-3.jpg" %}" alt="" width="400" height="266" class="lazy">
							<figcaption><strong>28</strong>Dec</figcaption>
						</figure>
						<ul>
							<li>By Luca Robinson</li>
							<li>20.11.2017</li>
						</ul>
						<h4>Elitr mandamus cu has</h4>
						<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
					</a>
				</div>
				<!-- /box_news -->
				<div class="col-lg-6">
					<a class="box_news" href="blog.html">
						<figure>
							<img src="{% static "img/blog-thumb-placeholder.jpg" %}" data-src="{% static "img/blog-4.jpg" %}" alt="" width="400" height="266" class="lazy">
							<figcaption><strong>28</strong>Dec</figcaption>
						</figure>
						<ul>
							<li>By Paula Rodrigez</li>
							<li>20.11.2017</li>
						</ul>
						<h4>Id est adhuc ignota delenit</h4>
						<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
					</a>
				</div>
				<!-- /box_news -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->

		<div class="container margin_60_35">
			<div class="main_title">
				
				<p>More Articles from SEA Homeschoolers</p>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<a class="box_news" href="blog.html">
						<figure>
							<img src="{% static "img/blog-thumb-placeholder.jpg" %}" data-src="{% static "img/blog-1.jpg" %}" alt="" width="400" height="266" class="lazy">
							<figcaption><strong>28</strong>Dec</figcaption>
						</figure>
						<ul>
							<li>by Mark Twain</li>
							<li>20.11.2017</li>
						</ul>
						<h4>Pri oportere scribentur eu</h4>
						<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
					</a>
				</div>
				<!-- /box_news -->
				<div class="col-lg-6">
					<a class="box_news" href="blog.html">
						<figure>
							<img src="{% static "img/blog-thumb-placeholder.jpg" %}" data-src="{% static "img/blog-2.jpg" %}" alt="" width="400" height="266" class="lazy">
							<figcaption><strong>28</strong>Dec</figcaption>
						</figure>
						<ul>
							<li>By Jhon Doe</li>
							<li>20.11.2017</li>
						</ul>
						<h4>Duo eius postea suscipit ad</h4>
						<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
					</a>
				</div>
				<!-- /box_news -->
				<div class="col-lg-6">
					<a class="box_news" href="blog.html">
						<figure>
							<img src="{% static "img/blog-thumb-placeholder.jpg" %}" data-src="{% static "img/blog-3.jpg" %}" alt="" width="400" height="266" class="lazy">
							<figcaption><strong>28</strong>Dec</figcaption>
						</figure>
						<ul>
							<li>By Luca Robinson</li>
							<li>20.11.2017</li>
						</ul>
						<h4>Elitr mandamus cu has</h4>
						<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
					</a>
				</div>
				<!-- /box_news -->
				<div class="col-lg-6">
					<a class="box_news" href="blog.html">
						<figure>
							<img src="{% static "img/blog-thumb-placeholder.jpg" %}" data-src="{% static "img/blog-4.jpg" %}" alt="" width="400" height="266" class="lazy">
							<figcaption><strong>28</strong>Dec</figcaption>
						</figure>
						<ul>
							<li>By Paula Rodrigez</li>
							<li>20.11.2017</li>
						</ul>
						<h4>Id est adhuc ignota delenit</h4>
						<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
					</a>
				</div>
				<!-- /box_news -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
		
		<hr class="mb-0">

		<div class="container margin_60_35">
			<div class="main_title">
				<h2>Popular books </h2>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<a class="box_news" href="blog.html">
						<figure>
							<img src="{% static "img/blog-thumb-placeholder.jpg" %}" data-src="{% static "img/blog-1.jpg" %}" alt="" width="400" height="266" class="lazy">
							<figcaption><strong>28</strong>Dec</figcaption>
						</figure>
						<ul>
							<li>by Mark Twain</li>
							<li>20.11.2017</li>
						</ul>
						<h4>Pri oportere scribentur eu</h4>
						<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
					</a>
				</div>
				<!-- /box_news -->
				<div class="col-lg-6">
					<a class="box_news" href="blog.html">
						<figure>
							<img src="{% static "img/blog-thumb-placeholder.jpg" %}" data-src="{% static "img/blog-2.jpg" %}" alt="" width="400" height="266" class="lazy">
							<figcaption><strong>28</strong>Dec</figcaption>
						</figure>
						<ul>
							<li>By Jhon Doe</li>
							<li>20.11.2017</li>
						</ul>
						<h4>Duo eius postea suscipit ad</h4>
						<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
					</a>
				</div>
				<!-- /box_news -->
				<div class="col-lg-6">
					<a class="box_news" href="blog.html">
						<figure>
							<img src="{% static "img/blog-thumb-placeholder.jpg" %}" data-src="{% static "img/blog-3.jpg" %}" alt="" width="400" height="266" class="lazy">
							<figcaption><strong>28</strong>Dec</figcaption>
						</figure>
						<ul>
							<li>By Luca Robinson</li>
							<li>20.11.2017</li>
						</ul>
						<h4>Elitr mandamus cu has</h4>
						<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
					</a>
				</div>
				<!-- /box_news -->
				<div class="col-lg-6">
					<a class="box_news" href="blog.html">
						<figure>
							<img src="{% static "img/blog-thumb-placeholder.jpg" %}" data-src="{% static "img/blog-4.jpg" %}" alt="" width="400" height="266" class="lazy">
							<figcaption><strong>28</strong>Dec</figcaption>
						</figure>
						<ul>
							<li>By Paula Rodrigez</li>
							<li>20.11.2017</li>
						</ul>
						<h4>Id est adhuc ignota delenit</h4>
						<p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
					</a>
				</div>
				<!-- /box_news -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!-- /main -->
	 {% endblock content %}
		
	

